@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.rt-BaseTabList,
.rt-TabNavList {
  box-shadow: none !important;
}

.rt-TabNavItem,
.rt-TabNavLink,
.rt-BaseTabListTrigger,
.rt-BaseTabListTriggerInner,
.rt-TabNavLinkInner,
.rt-TabNabLinkInnerHidden {
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--gold-12) !important;
}

.bed-ivory-1 {
  background-image: url('../public/bed-ivory-1.png');
}
.bed-ivory-2 {
  background-image: url('../public/bed-ivory-2.png');
}
.bed-ivory-3 {
  background-image: url('../public/bed-ivory-3.png');
}
.bed-green-1 {
  background-image: url('../public/bed-green-1.png');
}
.bed-green-2 {
  background-image: url('../public/bed-green-2.png');
}